body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "gothamregular", sans-serif;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/newBg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  z-index: -1;
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.content {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 90%;
}
.logo {
  max-width: 400px;
  margin-bottom: 20px;
}
.contact-info {
  color: #93c01f;
  margin: 20px 0;
  font-family: "gothambold", monospace;
  line-height: 1.5rem;
}

p.brevetext {
  color: #0e434d;
}

.video-container {
  margin: 20px auto;
  position: relative;
  width: 315px; /* Largura fixa para formato de Short */
  height: 560px; /* Altura fixa para formato 9:16 */
  overflow: hidden;
  border-radius: 12px; /* Bordas arredondadas como no app do YouTube */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
